<div class="contact__container">
  <div class="contact__right-section">
    <h1 data-aos="fade-left" class="contact-header__section">Contact Us</h1>
    <div class="call-us__section">
      <div class="contact-us__wrapper">
        <div class="contact-us__wrapper__left-section">
          <i
            data-aos="fade-left"
            data-aos-delay="300"
            class="fa-solid fa-phone"
            style="color: #ea1010"
          ></i>
        </div>
        <div class="contact-us__wrapper__right-section">
          <h6
            data-aos="fade-right"
            data-aos-delay="300"
            class="contact__sub-heading"
          >
            Call us on:
          </h6>
          <h6
            data-aos="fade-right"
            data-aos-delay="400"
            style="color: lightgray"
          >
            Call: +2874 653 678
          </h6>
        </div>
      </div>
    </div>
    <div class="call-us__section">
      <div class="contact-us__wrapper">
        <div class="contact-us__wrapper__left-section">
          <i
            data-aos="fade-left"
            data-aos-delay="500"
            class="fa-solid fa-envelope"
            style="color: #f10914"
          ></i>
        </div>
        <div class="contact-us__wrapper__right-section">
          <h6
            data-aos="fade-right"
            data-aos-delay="500"
            class="contact__sub-heading"
          >
            Email us at:
          </h6>
          <h6
            data-aos="fade-right"
            data-aos-delay="600"
            style="color: lightgray"
          >
            Enquiry: dummy@gmail.com
          </h6>
        </div>
      </div>
    </div>

    <div class="call-us__section">
      <div class="contact-us__wrapper">
        <div class="contact-us__wrapper__left-section">
          <i
            data-aos="fade-left"
            data-aos-delay="700"
            class="fa-brands fa-whatsapp"
            style="color: #ed0c0c"
          ></i>
        </div>
        <div class="contact-us__wrapper__right-section">
          <h6
            data-aos="fade-right"
            data-aos-delay="700"
            class="contact__sub-heading"
          >
            Call us on:
          </h6>
          <h6
            data-aos="fade-right"
            data-aos-delay="800"
            style="color: lightgray"
          >
            Whastup: +2874 653 678
          </h6>
        </div>
      </div>
    </div>

    <div class="call-us__section">
      <div class="contact-us__wrapper">
        <div class="contact-us__wrapper__left-section">
          <i
            data-aos="fade-left"
            data-aos-delay="900"
            class="fa-solid fa-phone"
            style="color: #ea1010"
          ></i>
        </div>
        <div class="contact-us__wrapper__right-section">
          <h6
            data-aos="fade-right"
            data-aos-delay="900"
            class="contact__sub-heading"
          >
            Call us on:
          </h6>
          <h6
            data-aos="fade-right"
            data-aos-delay="900"
            style="color: lightgray"
          >
            +2874 653 678
          </h6>
        </div>
      </div>
    </div>
  </div>
  <div data-aos="fade-left" data-aos-delay="300" class="contact__left-section">
    <div class="contact__left-section__header">
      <h2 class="hidden__section">Contact Us</h2>
      <h2 class="contact__left-section__sub-headeing">
        How can we Assist you?
      </h2>
      <h6 class="mt-3" style="color: lightgray">
        If you require clarifications on any of the courses or the admission
        process, we are happy to help
      </h6>
    </div>

    <!-- form -->
    <div class="form__Wrapper">
      <div class="signup__form__container">
        <form
          class="container signup__form__wrapper"
          (ngSubmit)="formDataSubmit()"
          [formGroup]="contactFormData"
        >
          <!-- note:here we are conditionally checking using quetion mark whether the "acno" exist or not.if it exist its should validate the form using ts value -->

          <div class="mb-4">
            <input
              formControlName="username"
              style="height: 50px"
              name="username"
              type="text"
              class="form-control"
              id="username1"
              aria-describedby="usernamehelp"
              placeholder="Enter your name"
            />
          </div>
          <div
            *ngIf="
              contactFormData.get('username')?.errors &&
              contactFormData.get('username')?.touched
            "
          >
            <p class="text-danger">required</p>
          </div>
          <div class="mb-4">
            <input
              formControlName="phonenumber"
              style="height: 50px"
              name="number"
              type="text"
              class="form-control"
              id="number"
              placeholder="Enter you number"
            />
          </div>

          <div
            *ngIf="
              contactFormData.get('phonenumber')?.errors &&
              contactFormData.get('phonenumber')?.touched
            "
          >
            <p class="text-danger">accept numbers only</p>
          </div>
          <div class="mb-4">
            <input
              formControlName="email"
              style="height: 50px"
              name="email"
              type="email"
              class="form-control"
              id="email"
              placeholder="Enter you email address"
            />
          </div>
          <div
            *ngIf="
              contactFormData.get('email')?.errors &&
              contactFormData.get('email')?.touched
            "
          >
            <p class="text-danger">required</p>
          </div>

          <div class="mb-4">
            <input
              formControlName="cityname"
              style="height: 50px"
              name="city"
              type="text"
              class="form-control"
              id="city"
              placeholder="Enter you city name"
            />
          </div>

          <div
            *ngIf="
              contactFormData.get('cityname')?.errors &&
              contactFormData.get('cityname')?.touched
            "
          >
            <p class="text-danger">required</p>
          </div>

          <div class="mb-4">
            <textarea
              formControlName="enquiry"
              name="city"
              type="text"
              class="form-control"
              id="city"
              cols="10"
              rows="5"
              placeholder="Enquiry/Message/Questions"
            ></textarea>
          </div>

          <div
            *ngIf="
              contactFormData.get('enquiry')?.errors &&
              contactFormData.get('enquiry')?.touched
            "
          >
            <p class="text-danger">accept letters only</p>
          </div>

          <button type="submit" class="btn btn-primary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>
